In [2]:
import pandas as pd
import numpy as np
import json

In [16]:
path='C:/Users/nicol/OneDrive/Documentos/VSCLocal/Data/datos/'
df=pd.read_csv(path+"Exercise.csv")

In [17]:
df

,TS,Tag,Value
0,2024-03-13 16:41:38.734993,Tag2,15.646174557185688
1,2024-03-13 16:41:39.734993,Tag50,"Tag: Annoying string 237, Time: 14 Mar 2024, 1..."
2,2024-03-13 16:41:40.734993,Tag64,Annoying string 246
3,2024-03-13 16:41:41.734993,Tag20,Annoying value
4,2024-03-13 16:41:42.734993,Tag94,54.50591132982375
...,...,...,...
1727996,2024-04-02 16:41:34.734993,Tag20,Annoying value
1727997,2024-04-02 16:41:35.734993,Tag68,"Tag: 57.4912687491152, Time: 06 Apr 2024, 12:2..."
1727998,2024-04-02 16:41:36.734993,Tag86,Annoying value
1727999,2024-04-02 16:41:37.734993,Tag84,Annoying value
1728000,2024-04-02 16:41:38.734993,Tag24,"Tag: Annoying value, Time: 06 Apr 2024, 05:28:..."

In [18]:
from datetime import datetime
df['TS'] = df['TS'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df['TS']

0         2024-03-13 16:41:38.734993
1         2024-03-13 16:41:39.734993
2         2024-03-13 16:41:40.734993
3         2024-03-13 16:41:41.734993
4         2024-03-13 16:41:42.734993
                     ...
1727996   2024-04-02 16:41:34.734993
1727997   2024-04-02 16:41:35.734993
1727998   2024-04-02 16:41:36.734993
1727999   2024-04-02 16:41:37.734993
1728000   2024-04-02 16:41:38.734993
Name: TS, Length: 1728001, dtype: datetime64[ns]

:

In [13]:
df['Value']=df['Value'].apply(lambda x: dict(x).values('Tag') if 'Tag'in x else x )

ValueError: dictionary update sequence element #0 has length 1; 2 is required