## Bucles For

**Ejercicio 1:** Escribe un programa que imprima todos los elementos de una lista que sean menores que 10.

In [3]:
def elementos_menor_10(lista_n):
    lista_menor_10=[] 
    for i in lista_n:
        if i<10:
            lista_menor_10.append(i)
    return lista_menor_10

elementos_menor_10([1,2,3,10,11,12])

[1, 2, 3]

**Ejercicio 2:** Utiliza un bucle for para contar cuántas veces aparece el carácter 'a' en una cadena dada.

In [4]:
def contar_palabra(palabra):
    cont=0
    for i in palabra:
        if i=='a':
            cont+=1
    return cont
contar_palabra('mañana')

3

**Ejercicio 3:** Crea un programa que imprima el índice de todos los elementos pares en una lista dada.

In [6]:
def imprimir_indice(lista):
    lista_vacia=[]
    for i in range(0,len(lista)):
        if lista[i]%2==0:
            lista_vacia.append(i)
    return lista_vacia

imprimir_indice([1,2,3,4,5,6])

[1, 3, 5]

## Listas por Comprensión

**Ejercicio 1:** Usa una lista por comprensión para crear una lista de los nombres que tienen menos de 5 caracteres de una lista dada.

In [4]:
nombres=['Nicolás','Kailei','Ana']

nombres_mayor_5=[i for i in nombres if len(i)>5]

print(nombres_mayor_5)

['Nicolás', 'Kailei']

**Ejercicio 2:** Crea una lista de las raíces cuadradas de los números que son divisibles por 3 en un rango del 1 al 20.

In [7]:
import numpy as np

lista=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
lista_raices=[ np.sqrt(i) for i in lista if i%3==0]
lista_raices

[1.7320508075688772,
 2.449489742783178,
 3.0,
 3.4641016151377544,
 3.872983346207417,
 4.242640687119285]

**Ejercicio 3:** Utiliza una lista por comprensión para obtener una lista de todas las palabras en una cadena que comiencen con la letra 's'.

In [9]:
lista=['señora','hola','sermón','adios']
lista_s=[i for i in lista if i[0]=='s']
lista_s

['señora', 'sermón']

## Lambda

**Ejercicio 1:** Escribe una función lambda que tome un número y devuelva su cubo.

In [15]:
def cubo_num(x):
    resultado= lambda x:x**3
    return resultado(x)
cubo_num(3)

27

**Ejercicio 2:** Crea una función lambda que concatene dos strings, separados por un espacio.

In [7]:

concatenar_dos=lambda a,b:a+" "+b
concatenar_dos("uno","dos")

'uno dos'

**Ejercicio 3:** Define una función lambda que reciba dos valores booleanos y devuelva True si ambos son True, de lo contrario False.

In [8]:
revisar=lambda a,b: True if a and b is True else False
print(revisar(True, True))
print(revisar(True, False))

True
False

In [9]:
revisar=lambda a,b: a and b 
print(revisar(True, True))
print(revisar(True, False))

True
False

## Map o Filter y Lambda

**Ejercicio 1:** Utiliza `map` y una función lambda para convertir todas las cadenas de una lista a mayúsculas.

In [1]:
lista_cadenas = ["hola", "mundo", "cómo", "estás"]

# Usando map y una función lambda para convertir todas las cadenas a mayúsculas
cadenas_mayusculas = list(map(lambda x: x.upper(), lista_cadenas))

print(cadenas_mayusculas)

['HOLA', 'MUNDO', 'CÓMO', 'ESTÁS']

**Ejercicio 2:** Emplea `filter` y una función lambda para filtrar todos los números negativos en una lista.

In [4]:
lista_numeros = [10, -5, 8, -3, -1, 0, 6]
num_negativos=list(filter(lambda x: x<0,lista_numeros))
print(num_negativos)

[-5, -3, -1]

**Ejercicio 3:** Usa `map` y una función lambda para obtener la longitud de cada palabra en una lista de palabras.

In [6]:
lista_palabras=['Nicolás','Alonso','Joaquín']
lista_longitud_palabras=list(map(lambda x : len(x),lista_palabras))
print(lista_longitud_palabras)

[7, 6, 7]

## Funciones

**Ejercicio 1:** Define una función `es_par` que devuelva True si un número es par, de lo contrario False.

In [10]:
def es_par(num):
    if num%2==0:
        return True
    else:
        return False
    
print(es_par(2))
print(es_par(3))

True
False

**Ejercicio 2:** Crea una función `contar_vocales` que cuente el número de vocales en una cadena.

In [25]:
def contar_vocales(palabra):
    cont=0 
    vocales=['a','e','i','o','u']
    for i in palabra:
        if i in vocales:
            cont+=1
    return cont

print(contar_vocales('murcielago'))
print(contar_vocales('cara'))

5
2

**Ejercicio 3:** Escribe una función `inverso` que tome una lista y la devuelva invertida.

In [26]:
def inverso(lista):
    return lista[::-1]

inverso([1,2,3,4])

[4, 3, 2, 1]

**Ejercicio 4:** Diseña una función `interseccion` que tome dos listas y devuelva una lista con los elementos que aparecen en ambas.

In [27]:
lista_1=['a','b','c','d']
lista_2=['c','d','e','f']

def interseccion(lista_1,lista_2):
    return list(set(lista_1) & set(lista_2))

interseccion(lista_1,lista_2)

['c', 'd']

## Apply y Map en DataFrames

**Ejercicio 1:** Crea un DataFrame de pandas y usa `apply` para normalizar los valores de una columna (restar la media y dividir por la desviación estándar).

In [42]:
import pandas as pd
df=pd.DataFrame({'Nombre':['Nicolás','Alonso','Joaquín'],'Edad':[26,24,21]})
df['Edad']=df['Edad'].apply(lambda x: (x -df['Edad'].mean())/df['Edad'].std())
df

    Nombre      Edad
0  Nicolás  0.927173
1   Alonso  0.132453
2  Joaquín -1.059626

**Ejercicio 2:** Utilizando `map`, añade una nueva columna a un DataFrame que clasifique los valores de otra columna como 'Alto' o 'Bajo' basado en un umbral.

In [55]:
import pandas as pd
df = pd.DataFrame({'Nombre': ['Nicolás', 'Alonso', 'Joaquín'], 'Edad': [26, 24, 21]})
df['Clasificacion']=df['Edad'].map(lambda x: 'Alto' if x>25 else 'Bajo')
df

    Nombre  Edad Clasificacion
0  Nicolás    26          Alto
1   Alonso    24          Bajo
2  Joaquín    21          Bajo

**Ejercicio 3:** Aplica la función `applymap` para convertir todos los datos numéricos de un DataFrame en strings formateados como números con dos decimales.

In [58]:
import pandas as pd

df = pd.DataFrame({'Nombre': ['Nicolás', 'Alonso', 'Joaquín'], 'Edad': [26, 24, 21], 'Altura': [1.80, 1.71, 1.80]})
df = df.map(lambda x: f'{x:.2f}' if isinstance(x, (int, float)) else x)
print(df)

    Nombre   Edad Altura
0  Nicolás  26.00   1.80
1   Alonso  24.00   1.71
2  Joaquín  21.00   1.80

**Ejercicio 4:** Usa `apply` en un DataFrame para contar cuántos valores no nulos hay en cada fila.

In [69]:
import pandas as pd

df = pd.DataFrame({'Nombre': ['Nicolás', 'Alonso', 'Joaquín'], 'Edad': [26, 24,20], 'Altura': [1.80, None, 1.80]})
resultados = df.apply(lambda x: x.count())
print(resultados)

Nombre    3
Edad      3
Altura    2
dtype: int64