In [4]:
lista=[2,5,7,10,15]
cuadrado=list(map(lambda x: x*x,lista))
cuadrado

[4, 25, 49, 100, 225]

In [5]:
lista=[1,2,3,4,5,6,7,8,9,10]
lista2=[x*x for x in lista if x%2==0]
print(lista2)

[4, 16, 36, 64, 100]

In [9]:
def saludo(nombre):
    return f'Hola, {nombre}!'

saludo('Ana')

'Hola, Ana!'

In [11]:
lista=[22,17,34,29,28]
resultado=list(filter(lambda x:x>=18,lista))
resultado

[22, 34, 29, 28]

In [16]:
import pandas as pd
data=pd.DataFrame({'precios':[100,150,200,250]})
data['Precio con IVA']=data['precios'].apply(lambda x : x*1.16)
data

   precios  Precio con IVA
0      100           116.0
1      150           174.0
2      200           232.0
3      250           290.0

In [24]:
matriz=[[1,2,3],[4,5,6],[7,8,9]]
x=0
for i in matriz:
    for j in i:
        x+=j
print(x)

45

In [30]:
x=enumerate(100)
x
lista=[for range(1,101) enaif x %3==0 & %5!=0]

SyntaxError: expected 'else' after 'if' expression (872713817.py, line 1)

In [40]:
lista_numeros=[i for i in range(1,101)]
y=[]
for i in lista_numeros:
    if i%3==0:
        if i%5 !=0:
            y.append(i)
print(y)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

In [ ]:
8 vacio

In [41]:
lista=['Hola mundo','Adios sol','Hola luna']
resultado=list(map(lambda x:len(x),lista))
resultado

[10, 9, 9]

In [42]:
import pandas as pd
data=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
resutlado=data.map(lambda x:x+1)
resutlado

   A  B
0  2  5
1  3  6
2  4  7