In [2]:
import pandas as pd
import numpy as np

In [3]:
suma=lambda a,b:a+b
suma(3,5)

8

In [4]:
def suma(a,b):
    resultado=a+b
    return resultado
suma(3,5)

8

In [14]:
numeros=[1,2,3,4,5]
cuadrados=list(map(lambda x:x**2,numeros))
print(cuadrados)

[1, 4, 9, 16, 25]

In [15]:
df=pd.DataFrame({
    'A':[1,2,3],
    'B':[4,5,6]
})

In [13]:
df['A']=df['A'].apply(lambda x:x+10)
df['A']

0    11
1    12
2    13
Name: A, dtype: int64

In [16]:
df[['A','B']]=df[['A','B']].apply(lambda x:x+10)
df

    A   B
0  11  14
1  12  15
2  13  16