In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("C:/Users/nicol/OneDrive/Documentos/VSCLocal/Data\exercise_datetime.csv")

<>:1: SyntaxWarning: invalid escape sequence '\e'
<>:1: SyntaxWarning: invalid escape sequence '\e'
C:\Users\nicol\AppData\Local\Temp\ipykernel_27288\2695484875.py:1: SyntaxWarning: invalid escape sequence '\e'
  df=pd.read_csv("C:/Users/nicol/OneDrive/Documentos/VSCLocal/Data\exercise_datetime.csv")

In [5]:
df.head(5)

,Unnamed: 0,TagName,Value,DateTime
0,0,EAE_Business_School.ValueTarget,10.468952,2023-01-01 00:00:00
1,1,EAE_Business_School.ValueTarget,14.029077,2023-01-01 00:59:00.152Z
2,2,EAE_Business_School.ValueTarget,12.677625,2023-01-01 01:58:00.151
3,3,EAE_Business_School.ValueTarget,11.853758,2023-01-01 02:57:00.663
4,4,EAE_Business_School.ValueTarget,9.118729,2023-01-01 03:56:00.387Z

: