**Ejercicio 1:** Escribe un programa que imprima todos los elementos de una lista que sean menores que 10.

In [6]:
import random 
lista_numeros=[random.randint(0,20) for i in range(10)]
print(lista_numeros)
lista_menor_diez=[i for i in lista_numeros if i <10]
print(lista_menor_diez)

[3, 12, 15, 9, 13, 9, 12, 10, 1, 6]
[3, 9, 9, 1, 6]

**Ejercicio 2:** Utiliza un bucle for para contar cuántas veces aparece el carácter 'a' en una cadena dada.

In [8]:
cont=0
for i in 'mañana':
    if i=='a':
        cont+=1
print(cont)

5

**Ejercicio 3:** Crea un programa que imprima el índice de todos los elementos pares en una lista dada.

In [10]:
import random
lista_numeros=[random.randint(0,20) for i in range(10)]
print(lista_numeros)
lista_indice=[]
for i in range(0,len(lista_numeros)):
    if lista_numeros[i]%2==0:
        lista_indice.append(i)
print(lista_indice)

[19, 17, 9, 18, 16, 2, 18, 0, 7, 10]
[3, 4, 5, 6, 7, 9]

**Ejercicio 1:** Usa una lista por comprensión para crear una lista de los nombres que tienen menos de 5 caracteres de una lista dada.

In [11]:
lista_nombres=['Nicolas', 'Ana', 'Kailei']
lista_caracter_menor_5=[i for i in lista_nombres if len(i)<5]
lista_caracter_menor_5

['Ana']

In [13]:
lista_caracter_menor_5=[i for i in ['Nicolas', 'Ana', 'Kailei'] if len(i)<5]
lista_caracter_menor_5

['Ana']

**Ejercicio 2:** Crea una lista de las raíces cuadradas de los números que son divisibles por 3 en un rango del 1 al 20.

In [21]:
import random
import numpy as np
lista_numeros=[i for i in range(1,21)]
print(lista_numeros)
lista_raiz_cuadrada=[round(np.sqrt(i),2) for i in lista_numeros if i%3==0]
print(lista_raiz_cuadrada)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1.73, 2.45, 3.0, 3.46, 3.87, 4.24]

**Ejercicio 3:** Utiliza una lista por comprensión para obtener una lista de todas las palabras en una cadena que comiencen con la letra 's'.

In [22]:
lista_palabras=['sasonador','pimienta','sergio ramos','madre mía']
lista_comienza_s=[i for i in lista_palabras if i[0]=='s']
lista_comienza_s

['sasonador', 'sergio ramos']

**Ejercicio 1:** Escribe una función lambda que tome un número y devuelva su cubo.

In [23]:
cubo_numero=lambda x:x**3
cubo_numero(3)

27

**Ejercicio 2:** Crea una función lambda que concatene dos strings, separados por un espacio.

In [24]:
concatenar=lambda a,b:a+' '+b
concatenar('Cristiano','Ronaldo')

'Cristiano Ronaldo'

**Ejercicio 3:** Define una función lambda que reciba dos valores booleanos y devuelva True si ambos son True, de lo contrario False.

In [25]:
prueba_de_verdad=lambda a,b:a and b
print(prueba_de_verdad(True,True))
print(prueba_de_verdad(True,False))

True
False

**Ejercicio 1:** Utiliza `map` y una función lambda para convertir todas las cadenas de una lista a mayúsculas.

In [30]:
lista_nombres=['Nicolás','Alonso','Joaquín']
convertir_mayusculas=list(map(lambda x:x.upper(),lista_nombres))
convertir_mayusculas

['NICOLÁS', 'ALONSO', 'JOAQUÍN']

**Ejercicio 2:** Emplea `filter` y una función lambda para filtrar todos los números negativos en una lista.

In [32]:
import random
lista_numeros=[random.randint(-10,10) for i in range(10)]
print(lista_numeros)
numeros_negativos=list(filter(lambda x:x<0,lista_numeros))
print(numeros_negativos)

[9, 10, -5, 7, 1, -3, 3, -7, 6, 6]
[-5, -3, -7]

**Ejercicio 3:** Usa `map` y una función lambda para obtener la longitud de cada palabra en una lista de palabras.

In [33]:
lista_nombres=['Nicolás','Alonso','Joaquín']
longitud_palabras=list(map(lambda x:len(x),lista_nombres))
longitud_palabras

[7, 6, 7]

**Ejercicio 1:** Define una función `es_par` que devuelva True si un número es par, de lo contrario False.

In [34]:
def es_par(num):
    if num%2==0:
        return True
    else:
        return False
print(es_par(2))
print(es_par(3))

True
False

In [35]:
def es_par(num):
    resultado=lambda x:x%2==0 
    return resultado(num)
print(es_par(2))
print(es_par(3))

True
False

**Ejercicio 2:** Crea una función `contar_vocales` que cuente el número de vocales en una cadena.

In [49]:
def contar_vocales(cadena):
    cont=0
    for i in cadena:
        if i in ['a','e','i','o','u']:
            cont+=1
    return cont
print(contar_vocales('murcielago'))
print(contar_vocales('kk'))

5
0

In [61]:
def contar_vocales(cadena:str):
    vocales=['a','e','i','o','u']
    resultado= list(filter(lambda x:x in vocales,cadena))
    return len(resultado)
print(contar_vocales('murcielago'))
print(contar_vocales('kk'))

5
0

**Ejercicio 3:** Escribe una función `inverso` que tome una lista y la devuelva invertida.

In [64]:
def inverso(lista):
    return lista[::-1]

inverso([1,2,3])

[3, 2, 1]

**Ejercicio 4:** Diseña una función `interseccion` que tome dos listas y devuelva una lista con los elementos que aparecen en ambas.

In [67]:
def intersección(lista_1,lista_2):
    return list(set(lista_1)&set(lista_2))

intersección([1,2,3],[2,3,4])

[2, 3]

**Ejercicio 1:** Crea un DataFrame de pandas y usa `apply` para normalizar los valores de una columna (restar la media y dividir por la desviación estándar).

In [71]:
import pandas as pd 
df=pd.DataFrame({'Nombre':['Nicolás','Alonso','Joaquín'],'Edad':[26,24,20]})
media=df['Edad'].mean()
desv_est=df['Edad'].std()
df['Edad_Z_score']=df['Edad'].apply(lambda x:(x-media)/desv_est)
df

    Nombre  Edad  Edad_Z_score
0  Nicolás    26      0.872872
1   Alonso    24      0.218218
2  Joaquín    20     -1.091089

**Ejercicio 2:** Utilizando `map`, añade una nueva columna a un DataFrame que clasifique los valores de otra columna como 'Alto' o 'Bajo' basado en un umbral.

In [73]:
import pandas as pd 
df=pd.DataFrame({'Nombre':['Nicolás','Alonso','Joaquín'],'Edad':[26,24,20]})
df['Umbral']=df['Edad'].apply(lambda x : 'Alto' if x>25 else 'Bajo')
df

    Nombre  Edad Umbral
0  Nicolás    26   Alto
1   Alonso    24   Bajo
2  Joaquín    20   Bajo

**Ejercicio 3:** Aplica la función `applymap` para convertir todos los datos numéricos de un DataFrame en strings formateados como números con dos decimales.

In [5]:
import pandas as pd 
df=pd.DataFrame({'Nombre':['Nicolás','Alonso','Joaquín'],'Edad':[26,24,20],'Estatura':[180,171,180]})
df=df.applymap(lambda x : f'{x:.2f}' if isinstance(x,(int,float)) else x)
df

C:\Users\nicol\AppData\Local\Temp\ipykernel_23852\1248665874.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df=df.applymap(lambda x : f'{x:.2f}' if isinstance(x,(int,float)) else x)

    Nombre   Edad Estatura
0  Nicolás  26.00   180.00
1   Alonso  24.00   171.00
2  Joaquín  20.00   180.00

**Ejercicio 4:** Usa `apply` en un DataFrame para contar cuántos valores no nulos hay en cada fila.

In [7]:
import pandas as pd 
df=pd.DataFrame({'Nombre':[None,'Alonso','Joaquín'],'Edad':[26,24,20],'Estatura':[180,171,180]})
df=df.apply(lambda x:x.count())
df

Nombre      2
Edad        3
Estatura    3
dtype: int64